<!doctype html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title>bored_search</title>
        <link rel='stylesheet' href='/static/css/main.css'>
        <link rel='shortcut icon' href='/static/img/favicon.ico' type='image/x-icon'>
    </head>
    <body>
        <main>
            <h2>lets find some words</h2>
            <p><input type="text" placeholder="Start typing to find words…"></p>
        </main>
        <footer>Powered by <a href='https://golang.org/'>Go</a>+<a href='https://htmx.org/'>HTMX</a></footer>
    </body>
</html>